{#
 # @package Language
 # @author Nikita Loges
 # @company tenolo GbR
 #}

{# template extend #}
{% extends "TenoloAdminControlPanelBundle:List/Table:table.html.twig" %}

{# {@inheritdoc} #}
{% block pageNavigationLeftButtons %}
    {{ parent() }}

    {% if route is defined %}
        <a href="{{ path(route.clearCache) }}" class="btn btn-danger">{{ fa('trash-o') }} {{ 'translation.cache.clear'|trans }}</a>
    {% endif %}
{% endblock %}